body {
    height: 100%;
    background-color: rgb(221, 221, 221);
    text-align: center;
    font-family: "Brygada 1918", serif;
}
a{
    font-size: 30px;
    text-decoration: underline rgb(172, 172, 172);
}
a:active{
    color: rgb(93, 93, 93);;
}
a:visited{
    color: rgb(93, 93, 93);
}
a:link{
    color: rgb(93, 93, 93);
}
a:hover{
    font-style: italic;
}
.seti{
    padding-bottom: 100px;
}
img{
    width: 35px;
    height: 35px;
}
table{
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
}
